.main-container h1,h2,h3,h4
{
	text-align:left;
	font-size:14px; 
	
}
.main-container h1{
	font-size:25px;
}
.main-container h2{
	font-size:20px;
}
.main-container h3{
	font-size:20px;
}
.main-container h4{
	font-size:24px;
}
.main-container h6{
	font-size:15px;
}
.info{
	float:left;
}

.header{width: 960px;margin: 0px auto;}
.logo{ float:left;}
.tit{float:left;}
.tit h3, .tit h4, .tit h6{color:white}



body{
	padding:0px;
}
#nav-container{
text-align:left; background:#0e65a8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Artifika,Arial,Helvetica,sans-serif;
    color: #147206;
}
#sub-headline {
    border-bottom: 1px solid #666;
    padding: 0px 0px 7px;
}
#sub-headline input {
    display: block;
    float: left;
    width: 155px;
    color: #565656;
    background-color: #EBEBEB;
    border: 1px solid #C3C3C3;
    font-size: 12px;
    margin: 0px 5px 0px 0px;
    padding: 2px;
}
#sub-headline input#go {
    width: 68px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #565656;
    cursor: pointer;
    font-weight: 700;
    border-color: #C3C3C3;
    margin: 0px;
    padding: 4px 0px;
    height: 28px; font-size:11px;
}
.nav a, .nav a:visited, .nav li.active li a {
    color: #FFF;
}
.container1 {
    border-top: 1px solid #666;
    padding: 10px 0px;
}
.nav li:hover{background:#1da33f;}
.nav li a:hover{background:none;}
.nav li:hover li a{ background:none}

#tagline2 {
    font-size: 10px;
}
#home_featured2 {
    padding: 20px 0px 0px;
}
.grid .footbox li {
    margin: 14px 0px 0px;
}
.grid .footbox li a{
    color: #000; font-size:13px
}
.contact{margin:0; width:35%; float: left;text-align: left;margin-left: 8%;}

.recent-posts ul {
    margin: 2.5em 0px 0px;
}
.recent-posts ul li {
    display: block;
    padding: 0.5em 0px;
    font-size: 1em;
    color: #868686;
}
.recent-posts ul li span {
    background: transparent url("../images/iconsprite.png") no-repeat scroll 0px 3px;
    padding: 0px 7px;
    margin-right: 12px;
}
a.read_more {
    width: 200px;
    background: #147206 url("../images/arrow_01.png") no-repeat scroll right center;
    padding: 2px 0px 4px 0px;
}
#home_featured21 .block {
    text-align: justify;
}
#home_featured21 .block {
    width: 277px;
    margin: 0 17px 0px 17px;
}
#home_featured21 div:first-child{margin-left:0}
#home_featured21 div:nth-child(3) {
    margin-right:0
}
#list li, #list1 li, #list2 li, #list3 li {
    line-height: 25px; list-style:disc
}
#list li a:hover{
    color:#000; text-decoration:underline
}

#list, #list1, #list2, #list3 {
    margin-left: 15px;
}
.grid .footbox li a:hover {
    color:#A3443E;
	text-decoration:underline
}

#slide4 .slideheading,#slide5 .slideheading,#slide6 .slideheading,#slide7 .slideheading,#slide8 .slideheading,#slide9 .slideheading,#slide10 .slideheading
{
	font-family:"ChunkFive Regular", Georgia, serif;color:#FFF;font-size:35px;letter-spacing:2px;margin:0 0 10px
}
#slide4 p,#slide5 p,#slide p,#slide7 p,#slide8 p#slide9 p,#slide10 p{font-family:Artifika, Georgia, serif;color:#FFF;margin:0}
#slide4 span,#slide5 span,#slide6 span,#slide7 span,#slide8 span,#slide9 span,#slide10 span{background:url(../images/contentBg.png) repeat top left transparent;position:absolute;bottom:20px;right:20px;padding:10px}


input[type="text"], input[type="email"], input[type="url"] {
    height: 20px;
    width: 200px; padding:0px 5px
}
table thead th, table tbody td {
    padding: 2px;
}

input[type="submit"], input[type="reset"] {
    padding: 4px 20px;
}

.nav li ul li a {
    padding: 0.50em 1em;
}

.nav ul {
	margin-top:-1px; width:15em; background:#14762d
}
.nav ul li{border-bottom:1px solid #189237; background:#0e65a8}
.nav ul li:last-child{border-bottom:none;}

.download{ width:50%}

.nav li.active a, .nav li:hover, .nav li.sfHover, .nav a:focus, .nav a:hover, .nav a:active {
    background: #1179c6;
}
.nav li ul li.active a{ background:#1179c6}
.nav li ul li a{font-size:12px}

.callout {
    margin: 20px 0 0;
}
footer{background:#1179c6; width:100%; padding:3% 0%}

#home_featured21 strong {
    background-color: none;
    color: black;
    float: none;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}